.auth {
    gap: 0.6em;
    display: flex;
    flex-direction: column;
}

.auth-card {
    padding: 35px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.auth-container {
    margin-top: 30vh;
}

.radio {
    align-self: center;
}

.error {
    align-self: center;
    color: red;
}